@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	--line-color: #e5e7eb;
}

html.dark {
	--line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
	@apply border border-black/10;
}

.Typist .Cursor {
	display: inline-block;
}
.Typist .Cursor--blinking {
	opacity: 1;
	animation: blink 1s linear infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
